@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #030412;
  /* --foreground: #1454f4; */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-indigo: #1f1e39;
  --color-storm: #282b4b;
  --color-royal: #5c33cc;
  --color-lavender: #7a57db;
  --animate-meteor: meteor 5s linear infinite;
  --animate-orbit: orbit calc(var(--duration) * 1s) linear infinite;
  @keyframes meteor {
    0% {
      transform: rotate(var(--angle)) translateX(0);
      opacity: 1;
    }
    70% {
      opacity: 1;
    }
    100% {
      transform: rotate(var(--angle)) translateX(-500px);
      opacity: 0;
    }
  }
  @keyframes orbit {
    0% {
      transform: rotate(calc(var(--angle) * 1deg))
        translateY(calc(var(--radius) * 1px)) rotate(calc(var(--angle) * -1deg));
    }
    100% {
      transform: rotate(calc(var(--angle) * 1deg + 360deg))
        translateY(calc(var(--radius) * 1px))
        rotate(calc((var(--angle) * -1deg) - 360deg));
    }
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #030412;
    --foreground: #ededed;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Cabinet Grotesk", sans-serif;
  scroll-behavior: smooth;
}

.text-heading {
  @apply font-bold text-3xl md:text-4xl;
}

.headtext {
  @apply text-background dark:text-white mt-2 mb-2 text-xl font-semibold;
}
.text {
  @apply text-black dark:text-white;
}
.subtext {
  @apply text-background dark:text-neutral-400 text-sm md:text-base text-pretty;
}
.c-space {
  @apply sm:px-10 px-5 lg:px-15;
}

.grid-1 {
  @apply row-span-2 md:col-span-3 h-[15rem] md:h-full relative overflow-hidden hover:-translate-y-1 duration-200;
}
.grid-2 {
  @apply row-span-1 md:col-span-3 h-[15rem] md:h-full relative overflow-hidden hover:-translate-y-1 duration-200;
}
.grid-3 {
  @apply row-span-1 md:col-span-3 h-[15rem] md:h-full relative overflow-hidden hover:-translate-y-1 duration-200;
}
.grid-4 {
  @apply row-span-1 md:col-span-2 h-[15rem] md:h-full relative overflow-hidden hover:-translate-y-1 duration-200;
}
.grid-5 {
  @apply row-span-1 md:col-span-4 h-[15rem] md:h-full relative overflow-hidden hover:-translate-y-1 duration-200;
}

.grid-default-color {
  @apply p-6 bg-gradient-to-b from-storm to-indigo rounded-2xl;
}

.grid-special-color {
  @apply p-6 bg-gradient-to-b from-royal to-lavender rounded-2xl;
}
.grid-black-color {
  @apply p-6 bg-gradient-to-tl from-[#3A3A3A] via-[#242424] to-[#3A3A3A] rounded-2xl;
}
